* {
	padding: 0px;
	margin: 0px;
}

#coluna-menu {
	background-color: #3b4658;
	padding-left: 0px;
	padding-right: 0px;
	width: 70px;
	height: 100% !important;
}

#menu > ul {
	width: 100%;
	padding-top: 10px;
	cursor: pointer;
	background-color: #3b4658;
}
#menu > ul :hover {
	background-color: #333944;
}
#menu > ul > li > a {
	text-decoration: none;
}

.btn-cor {
	position: relative;
    display: block;
    padding: 14px 21px;
	background-color: #3b4658;
	color: #ccc;
    border: 1px solid rgba(107, 108, 109, 0.19);
}

.btn-cor > span {
	padding-left: 5px;
}

.btn-cor:hover {
	color: #e8e8e8;
}

ul {
	list-style: none;
}

.col-3 {
	flex: 0 0 270px;
	top: 0px !important;
	transition: 0.5s !important;
}

.col-3-hide {
	-ms-flex: 0 0 25%;
	transition: 0.5s;
	flex: 0 0 50px !important;
	max-width: 25%;
}

.show-span {
	display: initial;
}

.hide-span {
	display: none;
}

@media only screen and (max-width: 1000px) {
	.col-3 {
		-ms-flex: 0 0 25%;
		transition: 0.5s;
		flex: 0 0 50px !important;
		max-width: 25%;
	}

	#menu > ul > li {
		height: 50px;
	}

	.show-span {
		display: none;
	}

	.p-card {
		flex: 50% !important;
		max-width: 100% !important;
	}
}