* {
	padding: 0px;
	margin: 0px;
}

.menu {
	background-color: #3b4658;
	padding-left: 0px;
	padding-right: 0px;
	height: 100% !important;
	transition: 0.5s !important;
}

.menu > ul {
	width: 100%;
	padding-top: 10px;
	cursor: pointer;
	background-color: #3b4658;
}

.menu > ul > li {
	height: 54px;
}

.menu > ul :hover {
	background-color: #333944;
}
.menu > ul > li > a {
	text-decoration: none;
	position: relative;
    display: block;
	padding: 14px 21px;
	color: #ccc;
	white-space: nowrap;
}

.menu > ul > li > a:hover {
	color: #fff;
}

.menu > ul > li > a > i {

	margin-right: 19px;
}

.btn-cor {
	position: relative;
    display: inherit;
	background-color: #3b4658;
	color: #ccc;
    border: 1px solid rgba(107, 108, 109, 0.19);
}

.btn-cor > span {
	padding-left: 5px;
}

.btn-cor:hover {
	color: #e8e8e8;
}

ul {
	list-style: none;
}

.show-span {
	margin-left: 19px;
}

.hide-span {
	display: none;
}

@media only screen and (max-width: 1000px) {
	.menu {
		background-color: #3b4658;
		padding-left: 0px;
		padding-right: 0px;
		width: 57px !important;
		height: 100% !important;
		transition: 0.5s !important;
	}

	.p-card {
		flex: 50% !important;
		max-width: 100% !important;
	}
}