.header {
    background-color: rgb(228, 227, 226);
    width: 100%;
    min-height: 250px;
    top: 0px;
    bottom: 300px
}

.footer {
    width: 100%;
    min-height: 250px;
    top: 250px;
    bottom: 0px
}

p {
    font-size: 19px;
    margin-top: 25px;
    padding: 20px;
    text-align: center;
}